.app-header {
  height: 175px;
  border-bottom: 1px solid black;
}
  
.app-header::after {
  content: "";
  height: 200px;
  opacity: .85;
  background: url('../../src/app/cam.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;   
}
  
.app-logo {
  height: 80px;
  margin-left: 50px;
  margin-top: 150px;
}
  
.app-slogan {
  font-family: Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 200px;
  color: rgb(231, 231, 231);
}

.box {
    width: 150px;
    height: 50px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    transition: opacity 0.7s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

  }

  .box:hover {
    opacity: 0.7;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 30px;
  }


